.row
  .col-xs-12.col-md-12

    .panel.panel-default

      .panel-heading
        i.glyphicon.glyphicon-comment
        |   from
        strong  {{ vm.from.name }}
        |  to
        strong  {{ vm.to.name }}
        | {{ vm.typing }}

      .panel-body#chat-panel-body(style='max-height: 500px; overflow-y: scroll;')

          div(ng-repeat='message in vm.getMessages() track by message._id' ng-init='vm.scrollDown()')

            .row.msg_container.base_received(ng-if='(message.from._id || message.from) === vm.to._id')
              .col-md-10.col-xs-10
                .messages.msg_receive.pull-right
                  p {{ message.message }}
                  time(datetime='{{ message.creation_date }}') {{ message.creation_date | date: 'd/M/yyyy HH:mm' }}
              .col-md-2.col-xs-2.avatar
                img.img-responsive(src='https://pbs.twimg.com/profile_images/716749820577366016/WTmgCBW0.jpg')

            .row.msg_container.base_sent(ng-if='(message.from._id || message.from) === vm.from._id')
              .col-md-2.col-xs-2.avatar
                img.img-responsive(src='https://pbs.twimg.com/profile_images/1980294624/DJT_Headshot_V2_400x400.jpg')
              .col-md-10.col-xs-10
                .messages.msg_receive
                  p {{ message.message }}
                  time(datetime='{{ message.creation_date }}') {{ message.creation_date | date: 'd/M/yyyy HH:mm' }}

      .panel-footer
        form(ng-submit='vm.sendMessage()')
          .input-group
            input.form-control.input-sm(type='text', placeholder='Write your message here...' ng-model='vm.message')
            span.input-group-btn
              button.btn.btn-primary.btn-sm(type='submit' ng-disabled='!vm.hasMessage()') Send
